﻿body h1 {
    background-color: blueviolet;
}

body .top-bar {
    background-color: white;
}

    body .top-bar .main-bar {
        background-color: white;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: white;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: white;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

.signup-button {
    background-color: #27ae60; /* Màu của button Đăng Ký */
    color: #ffffff; /* Màu chữ trên button */
}

    .signup-button i {
        margin-right: 8px;
    }

.login-button {
    background-color: #3498db; /* Màu của button Đăng Nhập */
    color: #ffffff; /* Màu chữ trên button */
}

    .login-button i {
        margin-right: 8px;
    }

.search-container {
    position: relative;
    display: inline-block;
}

    .search-container input {
        padding-right: 30px; /* Để giữ chỗ cho biểu tượng */
    }

    .search-container i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

.like {
    background-color: dodgerblue;
    color: white;
}

    .like i {
        margin-right: 8px;
    }

.youtube {
    background-color: red;
    color: white;
}

    .youtube i {
        margin-right: 8px;
    }

.follow {
    background-color: cornflowerblue;
    color: white;
}

    .follow i {
        margin-right: 8px;
    }

body .main-content {
    background-color: white;
    margin: auto;
    display: flex;
}
/*Second Top-Bar*/
body .secondTop-bar {
    background-color: white;
    margin: auto;
    display: flex;
}
    body .secondTop-bar .nav-link {
        text-decoration: none;
        margin-right: 25px; /* Có thể điều chỉnh khoảng cách giữa các liên kết */
        color: black; /* Màu chữ */
    }

